.resume {
    .work {
        &__details {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-top: 0.635em;
            margin-bottom: 0.635em;
        }

        &__progression {
            border-left: 1px solid $black;
            padding-left: 0.5em;

            li {
                font-size: 0.75rem;
                margin-bottom: 0.25em;

                &::before {
                    display: none;
                }
            }
        }
    }
}