$paper-width: 695px; // A4 paper width in px at 72dpi
$paper-height: 842px; // A4 paper height in px at 72dpi

.resume {
    width: 100%;
    max-width: $paper-width;
    margin-inline: auto;

    &__grid {
        display: grid;
        grid-template-columns: 1.75fr 1fr;
        grid-template-rows: auto;
        row-gap: 1em;
        column-gap: 1.25em;
    }

    &__col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 16px;

        &--left {
            grid-column: 1/2;
        }

        &--right {
            grid-column: -1/2;
        }
    }

    &__section {
        width: 100%;
        
        ul {
            padding-left: 0.875em;
            margin: 0;
        }

        li {
            position: relative;
            margin-bottom: 0.625em;

            &::before {
                content: "\2022";
                position: absolute;
                top: 0;
                left: -0.875em;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__article {
        width: 100%;
        margin-bottom: 0.3em;

        &:last-of-type {
            margin-bottom: 0;
        }
    } 

    &__articleHeading{
        width: 100%;
        max-width: calc(100% - 40px);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
    }
}