$heading-font: "Roboto",
Arial,
Helvetica,
sans-serif;
$body-font: "Open sans",
Arial,
Helvetica,
sans-serif;

body {
    font-family: $body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
    line-height: 1.3;
}

h1 {
    font-size: 2.25rem;
    font-weight: 700;
}

h2 {
    position: relative;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.75em;
    padding-left: 16px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 8px;
        height: 100%;
        background-color: $color-primary;
    }
}

h3 {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 0.3em;
    color: $color-secondary;
}

p,
ul,
li,
a {
    font-size: 0.8125rem;
    line-height: 1.35;
}

a {
    color: blue;

    &:visited {
        color: blue;
    }
}

strong {
    font-weight: bolder;
}